<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<StructureMap xdt:Transform="Replace">
		<Registry Type="HansKindberg.Web.Mvp.WebApplication.ReleaseRegistry, HansKindberg.Web.Mvp.WebApplication"></Registry>
	</StructureMap>
	<system.web>
		<compilation xdt:Transform="RemoveAttributes(debug)" />
	</system.web>
</configuration>