<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="StructureMap" type="StructureMap.Configuration.StructureMapConfigurationSection, StructureMap" />
	</configSections>
	<StructureMap />
	<system.web>
		<compilation debug="true" />
		<pages>
			<controls>
				<add tagPrefix="HansKindbergMvp" namespace="HansKindberg.Web.Mvp.UI.Views" assembly="HansKindberg.Web.Mvp" />
				<add tagPrefix="WebControls" namespace="HansKindberg.Web.Mvp.WebApplication.Views.WebControls" assembly="HansKindberg.Web.Mvp.WebApplication" />
			</controls>
		</pages>
	</system.web>
</configuration>